<!-- Bao Rui ur job-->
<h2><%= user.username %>’s Profile</h2>
<ul>
  <li>Email:    <%= user.email_address %></li>
  <li>Phone:    <%= user.phone_number %></li>
  <li>NRIC:     <%= user.nric %></li>
  <li>Age/Gender: <%= user.age %> / <%= user.gender %></li>
  <li>Role:     <%= user.role %></li>
</ul>